.form-group
  = form.label :home_phone
  = form.phone_field :home_phone, class: 'form-control'
.form-group
  = form.label :address1
  = form.text_field :address1, class: 'form-control'
.form-group
  = form.label :address2
  = form.text_field :address2, class: 'form-control'
.form-group
  .row
    .col-sm-6
      = form.label :zip, t('families.edit.postal_code')
      = form.text_field :zip, class: 'form-control inline full-width'
    .col-sm-6
      = form.label :country
      = form.country_select :country, { include_blank: true }, class: 'form-control'
