- if @family
  .box.box-warning
    .box-header
      %h3.box-title= t('people.move.heading', family: @family.name)
    .box-body
      = t('people.move.description_html', family: @family.name, url: url_for(@family))

%p
  = t("search.people_found", count: @search.count)
  - if @logged_in.admin?(:view_hidden_profiles) and params[:show_hidden].nil?
    = t("search.not_showing_hidden_people")

= pagination @people, params: params_without_action

- if @people and @people.any?

  - if @logged_in.full_access?
    .row
      - @people.each do |person|
        .col-lg-2-4
          = link_to person do
            .dir-tn{ style: 'overflow: hidden; max-height: 200px; max-width: 200px; height: 200px'}
              = avatar_tag person, fallback_to_family: true, size: :medium
            %p.center{ style: 'height:50px' }
              = person.chinese_name
              %br
              = person.name

  - else
    -# limited access
    .row
      - @people.each do |person|
        .col-lg-2-4
          = link_to person do
            = avatar_tag person, fallback_to_family: true, size: :medium
            %p.center{ style: 'height:50px' }
              = person.chinese_name
              = person.name


= pagination @people, params: params_without_action
